canvas{
    border: 2px solid black;
    margin:auto;
    flex-flow:row;
    display: inline-flex;

}
.options{
    display: inline-flex;
    flex-flow: column;
    padding:5px;
}
.changeBtn{
    font-size:100%;
}